html {
    scroll-behavior: smooth;
}

main {
    position: relative;
    height: 650px;
    margin-top: 20px;
}

body {
    background: linear-gradient(to top, #000000, #300151);
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 15px;
}

header h1 {
    background: linear-gradient(to right, #8a2be2, #c77dff, #8a2be2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    text-shadow:
        0 0 5px #8a2be280,
        0 0 10px #8a2be266,
        0 0 20px #8a2be240;

    margin: 5px 0 18px;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}



section {
    box-sizing: border-box;

    background: #14141eb3;
    border: 1px solid #4c1d95;
    border-radius: 12px;
    padding: 50px;
    max-width: 900px;

    box-shadow: 0 0 15px #4c1d954d;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    position: absolute;

    top: 20px;
    left: 50%;

    width: min(900px, calc(100% - 40px));
    min-height: 100%;
    height: auto;
    overflow-y: auto;

    transform: translate(-50%, 20px);

    transition:
        opacity 0.4s ease,
        transform 0.4s ease,
        visibility 0.4s;
}

section.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

section h2 {
    color: #6e1ec4;
    border-bottom: 2px solid #6b21a8;
    padding-bottom: 8px;
    margin-top: 0;
}

img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
    border: 2px solid #7c3aed;
    box-shadow: 0 0 10px #7c3aed66;
    box-sizing: border-box;
}

p {
    line-height: 1.6;
    color: #cbd5e1;
}

strong {
    color: #f3e8ff;
}

#indice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px auto 0;
}

#indice a {
    background-color: #0b0710;
    color: #c77dff;
    border: 1px solid #8a2be2;
    padding: 8px 14px;
    border-radius: 8px;

    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    box-shadow:
        0 0 5px #8a2be280;

    transition: 0.3s ease;
}

#indice a:hover {
    background-color: #8a2be2;
    color: #ffffff;

    box-shadow:
        0 0 10px #8a2be2,
        0 0 20px #8a2be2;
}

#indice a.active {
    background-color: #8a2be2;
    color: #ffffff;

    box-shadow:
        0 0 10px #8a2be2,
        0 0 20px #8a2be2,
        0 0 30px #8a2be299;

    text-shadow:
        0 0 5px #ffffff;
}

footer {
    background-color: #0b0710;
    border-top: 1px solid #8a2be2;
    padding: 25px;
    text-align: center;
    margin-top: 50px;
    color: #94a3b8;
    font-size: 0.9rem;
    box-shadow: 0 -5px 20px #8a2be240;
}

footer p {
    color: #aaaaaa;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.redes a {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #c77dff;
    text-decoration: none;
    font-weight: bold;

    transition: 0.3s ease;
}

.redes img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.redes a:hover {
    color: #ffffff;

    text-shadow:
        0 0 5px #8a2be2,
        0 0 10px #8a2be2,
        0 0 20px #8a2be2;
}

.redes a:hover img {
    filter: drop-shadow(0 0 8px #8a2be2);
}
@media (max-width: 600px) {

    header h1 {
        font-size: 2rem;
        padding: 0 10px;
    }

    #indice {
        gap: 10px;
        padding: 0 10px;
    }

    #indice a {
        padding: 10px;
        font-size: 13px;
    }

    main {
        height: 750px;
        min-height: 750px;
        margin-top: 20px;
    }

    section {
        top: 0;
        width: calc(100% - 24px);
        padding: 25px 15px;
        height: 100%;
        min-height: 100%;
        overflow-y: auto;
    }

    section h2 {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 15px;
    }

    section img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    section p {
        font-size: 15px;
        text-align: center;
    }

    footer {
        margin-top: 30px;
    }

    .redes {
        gap: 25px;
    }
}