html {
  scroll-behavior: smooth;
}
body {
    background: linear-gradient(to top, #000000, #300151);
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    height: auto; 

}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    color: #3f0776;
    text-shadow: 0 0 10px rgba(35, 6, 65, 0.5);
}

section {
    background: rgba(20, 20, 30, 0.7);
    border: 1px solid #4c1d95;
    border-radius: 12px;
    padding: 25px;
    max-width: 700px;
    margin: 25px auto;
    box-shadow: 0 0 15px rgba(76, 29, 149, 0.3);
    scroll-snap-align: start;
}

section h2 {
    color: #e9d5ff;
    border-bottom: 2px solid #6b21a8;
    padding-bottom: 8px;
    margin-top: 0;
}

img {
    display: block;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
    border: 2px solid #7c3aed;
    box-shadow: 0 0 10px rgba(124, 58, 237, 0.4);
}

p {
    line-height: 1.6;
    color: #cbd5e1;
}

strong {
    color: #f3e8ff;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #94a3b8;
    font-size: 0.9rem;
}

#botonIndice {
    background-color: #0b0710;
    color: #c77dff;
    border: 2px solid #8a2be2;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    box-shadow:
        0 0 5px #8a2be2,
        0 0 10px #8a2be2;

    transition: 0.3s ease;
}

#botonIndice:hover {
    background-color: #8a2be2;
    color: white;

    box-shadow:
        0 0 10px #8a2be2,
        0 0 20px #8a2be2,
        0 0 40px #8a2be2;
}

#indice {
    display: none;
    background-color: #0b0710;
    border: 1px solid #8a2be2;
    border-radius: 10px;
    margin: 15px auto;
    max-width: 180px;
    padding: 12px;

    box-shadow:
        0 0 10px rgba(138, 43, 226, 0.6),
        0 0 25px rgba(138, 43, 226, 0.3);
}

#indice.abierto {
    display: block;
}

#indice h2 {
    color: #c77dff;
    text-shadow: 0 0 10px #8a2be2;
}

#indice ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#indice li {
    margin: 12px 0;
}


#indice a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;
}

#indice a:hover {
    color: #c77dff;
    text-shadow:
        0 0 5px #8a2be2,
        0 0 10px #8a2be2;
}

footer {
    background-color: #0b0710;
    border-top: 1px solid #8a2be2;
    padding: 25px;
    text-align: center;

    box-shadow: 0 -5px 20px rgba(138, 43, 226, 0.25);
}

footer p {
    color: #aaa;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.redes a {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #c77dff;
    text-decoration: none;
    font-weight: bold;

    transition: 0.3s ease;
}

.redes img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.redes a:hover {
    color: white;

    text-shadow:
        0 0 5px #8a2be2,
        0 0 10px #8a2be2,
        0 0 20px #8a2be2;
}

.redes a:hover img {
    filter: drop-shadow(0 0 8px #8a2be2);
}